* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: black;

}

.contener {
    max-width: 1440px;
    width: 100%;
    margin: 31px auto;
    padding:  0 61px;

}

.navigater {
    display: flex;
    align-items: center;
    width: 1230px;
    height: 47px;
    justify-content: space-between;
  
   

}


.nav_navigacii {
  
   margin-left: 200px;
    align-items: center;
 margin-right: 221px;

}

.link_navigane {
    text-decoration: none;
    font-family: Creato Display;
    font-style: Medium;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
    text-decoration: none;
    color: rgba(201, 201, 201, 1);
margin-left: 50px;

 
  
}

.link_navigane:hover {
    color: rgba(61, 212, 126, 1);
    transition: 0.4s;
}


.button_link {
    border-radius: 50px;
    background: rgba(61, 212, 126, 1);
    width: 147px;
    height: 47px;
    border: none;
    color: rgb(0, 0, 0);
    font-family: Rubik;
    font-style: Medium;
    font-size: 16px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0.48px;
    text-align: center;
    border: 1px solid rgba(61, 212, 126, 1);

}

.button_link:hover {
    color: rgba(61, 212, 126, 1);
    background-color: black;
    transition: 0.4s;
    transform: scale(1.05);

}

.one_body {
    display: flex;
}

.one_body_text {
    color: rgba(255, 255, 255, 1);

    font-family: Creato Display;
    font-style: Bold;
    font-size: 60px;
    font-weight: 700;
    line-height: 72px;
    letter-spacing: 0px;
    text-align: left;
    margin-top: 158px;
    margin-bottom: 22px;

}

.one_body_p {
    color: rgba(201, 201, 201, 1);
    font-family: Rubik;
    font-style: Regular;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 44px;
}

.man_One {}

.one_body_two {
    margin-right: 251px;
}

.logo-two {
    border-radius: 50px;
    gap: 20px;




}

.logo-two:hover {
    transform: scale(1.05);
    transition: 0.4s;
}

.two_body_one {
    gap: 20px;
    margin-left: 39px;
    display: flex;




}

.two-body_one {

    color: rgba(255, 255, 255, 1);

    font-family: Creato Display;
    font-style: Bold;
    font-size: 25px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
}

.two-body_two {
    color: rgba(201, 201, 201, 1);

    font-family: Creato Display;
    font-style: Bold;
    font-size: 25px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
}

.span_two {
    display: flex;
    margin-bottom: 74px;
    gap: 30px;
}

.three-text {
    color: rgba(201, 201, 201, 1);
    font-family: Rubik;
    font-style: Medium;
    font-size: 23px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
}

.three_text {
    color: rgba(201, 201, 201, 1);
    margin-top: 20px;
    font-family: Rubik;
    font-style: Regular;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
}

.hr_one {
    transform: rotate(20deg);

}

.three_text_one {
    color: rgba(255, 255, 255, 1);

    font-family: Creato Display;
    font-style: Bold;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0px;
    text-align: left;
}

.li_three {

    padding-left: 32px;
    padding-top: 48px;
    justify-content: center;
    width: 270px;
    height: 240px;
    border-radius: 12px;
    background: rgba(19, 19, 19, 1);
}

.three_body {
    flex-wrap: wrap;
    display: flex;
    list-style: none;
    gap: 20px;
    margin-left: 20px;
    margin-top: 128px;
}

.three-text_li {
    padding-bottom: 15px;
    padding: 20px;
    width: 480px;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 22;


}

.three-img {
    margin-bottom: 20px;
}

.img_three_li_ul {
    position: absolute;



}

.img_four {
    margin-top: 200px;
}

.four_dody_h {
    color: rgba(255, 255, 255, 1);
    font-family: Creato Display;
    font-style: Bold;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 30px;
}

.four_dody_p {
    color: rgba(201, 201, 201, 1);
    margin-bottom: 27px;

    font-family: Rubik;
    font-style: Regular;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
}

.four_dody {
    display: flex;
    align-items: center;
    margin-left: 20px;

}

.li_three:hover {
    transform: scale(1.05);
    transition: 0.4s;
}

.four_dody_span {
    padding-top: 190px;
}

.five_body_h {
    color: rgba(255, 255, 255, 1);
    font-family: Creato Display;
    font-style: Bold;
    font-size: 25px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0px;
    text-align: left;
    margin-top: 41px;

}

.h_five_body {
    color: rgba(255, 255, 255, 1);

    font-family: Creato Display;
    font-style: Bold;
    font-size: 25px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 20px;
    margin-top: 20px;
}

.p_five {
    color: rgba(201, 201, 201, 1);

    font-family: Rubik;
    font-style: Regular;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
}

.five_body {
    gap: 35px;
    margin-top: 41px;

}

.five_body_three {}

.five_body_two {}

.five_body_one {}

.five_body_one_two_three {
    display: flex;
    gap: 35px;
}

.five_h_ {
    margin-top: 100px;
}

.img_body_five {
    border-radius: 10px;
}

.six_body {
    height: 300px;
    background: rgba(19, 19, 19, 1);
  
flex-wrap: wrap;
    display: flex;
    
    margin-top: 100px;






}
.button_one{
  
}

.h2_six {
    color: rgba(255, 255, 255, 1);
    font-family: Creato Display;
    font-style: Bold;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0px;
    text-align: left;
    width: 100%;
    margin-left: 40px;
    margin-top: 40px;
}
.six_body_two_one_three{
   
}

.six_body_one {


    margin-right: 20px;
    margin-left: 40px;
    width: 340  px;
    height: 191px;
    background-color: black;
    border-radius: 10px;
    border: 2px solid rgb(17, 17, 17);



}

.six_body_ph {
    color: rgba(255, 255, 255, 1);

    font-family: Creato Display;
    font-style: Bold;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0px;
    text-align: left;
}

.six_body_pp {
    color: rgba(201, 201, 201, 1);

    font-family: Rubik;
    font-style: Regular;
    font-size: 13px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
}

.six_body_pph {
    color: rgba(201, 201, 201, 1);
 margin-left: 25px;
    font-family: Rubik;
    font-style: Regular;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
}

.img_span_six_body {
    border-radius: 50%;
}

.span_six {
display: flex;
  margin-left: 25px;
  margin-bottom: 28px;
  margin-top: 25px;
  gap: 14px;
}

.seven_body {
    margin-top: 150px;
}

.h_body-seven {
    color: rgba(255, 255, 255, 1);
    margin-bottom: 22px;
    font-family: Creato Display;
    font-style: Bold;
    font-size: 60px;
    font-weight: 700;
    line-height: 72px;
    letter-spacing: 0px;


}

.seven_body {
    display: flex;
}

.pp__seven {
    color: rgb(201, 201, 201, 1);
    font-family: Rubik;
    font-style: Regular;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;

}

.link_seven {
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    gap: 14px;
    font-family: Rubik;
    font-style: Medium;
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0px;

}

.img_seven {




}

.seven_body_p {
    color: rgb(201, 201, 201, 1);
    font-family: Rubik;
    font-style: Regular;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 34px;
}


.img-seven {
   position: absolute;
 
}

.one_body_one {
    display: flex;
    align-items: center;
    gap: 40px;

}

.seven_one_body {}

.seven_body_two {
    width: 700px;

}

.seven_three {}
.six_body_one:hover{
transform: scale(1.06);
transition: 0.7s;
}